<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
<div><h1>Tere tulemast!</h1></div>

<div class="index">
    <div><p>Hambaarstile registeerumiseks palun vajutada
        <a th:href="@{/add}" data-toggle="modal">
            <span>siia</span>
        </a> ning täida väljad.</p></div>
    <div><p>Juba tehtud broneeringutega saad tutvuda <a th:href="@{/visits}" data-toggle="modal">
        <span>siin</span></a>.</p></div>
</div>
</body>
</html>