<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"></link>
</head>
<body>
<div class="container">
    <table class="table table-striped">
        <tbody>
        <tr>
            <td colspan="1">
                <form action="#" th:action="@{/details/{id}(id=${id})}" th:object="${visit}" method="post" class="well form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-4 control-label" th:text="#{app.firstName}"></label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input th:field="*{firstName}" id="firstname" name="firstname" class="form-control" value="" type="text"></input>
                                </div>
                                <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" th:text="#{app.lastName}"></label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input th:field="*{lastName}" id="lastname" name="lastname" class="form-control" value="" type="text"></input>
                                </div>
                                <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" th:text="#{app.phone}"></label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                    <input th:field="*{phoneNumber}" id="phone" name="phone" class="form-control" type="text"></input>
                                </div>
                                <label th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" th:text="#{app.email}"></label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                    <input th:field="*{email}" id="email" name="email" class="form-control" value="" type="text"></input>
                                </div>
                                <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" th:text="#{visit.date}"></label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                    <input th:field="*{date}" id="datepicker" name="datepicker" class="form-control" value="" placeholder="pp.kk.aaaa hh:mm" type="text"></input>
                                </div>
                                <label th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" th:text="#{visit.dentist}"></label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                    <select class="form-control" id="dentistId" name="dentistId" th:field="*{dentistId}">
                                        <option value="" th:text="#{visit.select}"></option>
                                        <option th:each="dentist : ${dentists}"
                                                th:value="${dentist.id}"
                                                th:text="${dentist.firstName}+' '+${dentist.lastName}">
                                        </option>
                                    </select>
                                </div>
                                <label th:if="${#fields.hasErrors('dentistId')}" th:errors="*{dentistId}"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" th:text="#{visit.change}"></button>
                        </div>
                        <div>
                            <a th:href="@{/}" th:text="#{visit.back}"></a>
                        </div>
                    </fieldset>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>