<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/dentist.css}"/>
</head>
<body>
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2 th:text="#{dentist.manage}"></h2>
                    </div>
                    <div class="col-sm-6">
                        <a th:href="@{/dentist/add}" class="button" data-toggle="modal">
                            <span th:text="#{dentist.add}"></span></a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th th:text="#{app.firstName}"></th>
                    <th th:text="#{app.lastName}"></th>
                    <th th:text="#{app.phone}"></th>
                    <th th:text="#{app.email}"></th>
                    <th th:text="#{app.action}">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${dentists.empty}">
                    <td colspan="2" th:text="#{dentist.empty}"></td>
                </tr>
                <tr th:unless="${dentists.empty}" th:each="dentist : ${dentists}">
                    <td><span th:text="${dentist.firstName}"></span></td>
                    <td><span th:text="${dentist.lastName}"></span></td>
                    <td><span th:text="${dentist.phoneNumber}"></span></td>
                    <td><span th:text="${dentist.email}"></span></td>
                    <td>
                        <a th:href="@{/dentist/update/{id}(id=${dentist.id})}" class="button" data-toggle="modal" th:text="#{dentist.change}"></a>
                        <form action="#" th:action="@{/dentist/delete/{id}(id=${dentist.id})}" method="post">
                            <button th:text="#{dentist.delete}" class="delete" data-toggle="modal">
                            <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>